<div class="container-fluid animated fadeIn fast">
  <div class="jumbotron jumbotron-fluid">
    <div class="container">
      <h1 class="display-3">Esta es una SPA</h1>
      <p class="lead">
        esta app esta pensada pea dar a conocer las bondades de los heroes
      </p>
      <hr class="my-2" />
      <p>Mas informacion</p>
      <p class="lead">
        <a
          class="btn btn-outline-primary btn-lg"
          href="Jumbo action link"
          role="button"
          routerLink="/heroes"
          >Heroes Info</a
        >
      </p>
    </div>
  </div>
</div>
